.money {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-width: 380px;

  &__title {
    margin: 64px 0 16px;
    min-width: 380px;
    text-align: center;

    @media (min-width: $desktop) {
      margin: 64px 0 32px;
      width: 100%;
    }
  }

  &__item {
    margin: 0 0 28px;
    border-radius: 8px;
    width: 342px;

    &-value {
      position: relative;
      margin: 56px 0 8px 28px;
      padding: 0 0 0 16px;
      color: $color-white-light;

      &::before {
        content: "$";
        position: absolute;
        left: 0;
        top: 0;
        width: 12px;
        height: 18px;
        opacity: 0.7;
      }

      @media (min-width: $tablet) {
        margin: 67px 0 8px 28px;
        padding: 0 0 0 28px;
      }

      @media (min-width: $desktop) {
        margin: 67px 0 8px 28px;
        padding: 0 0 0 32px;
      }
    }

    &-name {
      margin: 0 0 55px 28px;
      color: rgba($color: $color-white-light, $alpha: 0.7);

      @media (min-width: $tablet) {
        margin: 0 0 66px 28px;
      }
    }

    &--bank {
      position: relative;
      background-color: $color-success;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 136px;
        height: 115px;
        background: url("../img/profile/safe.svg") no-repeat;
        background-size: cover;
      }

      @media (min-width: $tablet) {
        &::after {
          width: 182px;
          height: 154px;
        }
      }
    }

    &--cash {
      position: relative;
      background-color: $color-brand;

      &::after {
        content: "";
        position: absolute;
        right: 30px;
        bottom: 7px;
        width: 278px;
        height: 145px;
        background: url("../img/profile/money.svg") no-repeat;
      }

      @media (min-width: $tablet) {
        &::after {
          right: 19px;
          bottom: 12px;
          width: 400px;
          height: 188px;
          background: url("../img/profile/money-tablet.svg") no-repeat;
        }
      }
    }

    @media (min-width: $tablet) {
      margin: 0 0 17px;
      width: 468px;
    }

    @media (min-width: $desktop) {
      margin: 0 0 16px;
      box-shadow: none;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 952px;
  }
}
