.section-slider {
  @media (max-width: $desktop) {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
    border: none;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
    width: 952px;
  }
}

.slider .money__item,
.slider .car__item {
  display: block;
  flex-shrink: 0;
  margin-left: 8px;
  width: 342px;

  &:first-child {
    margin-left: 22px;
  }

  @media (min-width: $tablet) {
    width: 468px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(2n) {
      margin-left: 16px;
    }
  }
}
