.wave {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 93px;

  &__content {
    position: absolute;
    width: 7000px;
    height: 74px;
    background-size: contain;
    background-repeat: repeat-x;
    animation: waves 15s infinite linear;

    &--white {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M0,160L80,149.3C160,139,320,117,480,133.3C640,149,800,203,960,213.3C1120,224,1280,192,1360,176L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    }

    &--grey {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f5f5f5' fill-opacity='1' d='M0,160L80,149.3C160,139,320,117,480,133.3C640,149,800,203,960,213.3C1120,224,1280,192,1360,176L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    }

    @media (min-width: $desktop) {
      height: 320px;
      animation: waves 10s infinite linear;
    }
  }

  &--white {
    top: -73px;
  }

  &--grey {
    top: -72px;
    z-index: 4;
  }

  @media (min-width: $desktop) {
    height: 320px;

    &--white {
      top: -226px;
    }

    &--grey {
      top: -243px;
    }
  }
}

@keyframes waves {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1666px;
  }
}

@media (min-width: $desktop) {
  @keyframes waves {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: -1444px;
    }
  }
}
